
    <div class="pages"> 
        <h1>Paginas</h1>
        <div class="pagesLink">
            <a href="/library">Home</a>|
            <a href="/library/addNewBook">Novo livro</a>|
            <a href="#">Sobre</a>
        </div>
    </div>
    <div class="contact">
        <h1>Contato</h1>
        <div class="contactImage">
            <img src="/assets/images/footerImg/zap.png" alt="zap">
            <img src="/assets/images/footerImg/gitHub.png" alt="git">
        </div>
    </div>
