<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/pages/books.css">
    <link rel="stylesheet" href="/style/components/footer.css">
    <title>Biblioteca digital</title>
</head>
<body>
    <header>
        <div class="head">
            <a href="/library/addNewBook"><img class="addNewBookButton" src="/assets/images/add.png" alt="adicionar"></a>
            <h1>Biblioteca digital</h1>
        </div>
    </header>
    <section class="descriptionSection">
        <div class="description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolorem, ipsa fugiat magni vel quo aut nobis eligendi culpa officiis illum esse! Corrupti amet mollitia unde aut animi consequatur voluptatibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum voluptatem alias, possimus cupiditate quam, minima culpa eius quis perferendis necessitatibus distinctio dolorem unde tempora nostrum nulla sint maiores. Delectus.</p>
        </div>
    </section>
    <section class="centralSection">
        <div class="booksSection">
           <%- include("../views/booksData.ejs")-%>
        </div>
        
    </section>
    <footer>
        <%- include("../views/components/footer.ejs") -%>
    </footer>


    <script src="/script/addButton.js"></script>
    <script src="/script/booksGradeImageControl.js"></script>
    <script src="/script/submitiDataBook.js"></script>
</body>
</html>