<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/pages/newBook.css">
    <link rel="stylesheet" href="/style/components/footer.css">
    <title>new Book</title>
</head>
<body>
    <header>
       <a href="/library"><h1>Biblioteca digital</h1></a> 
    </header>
    <section class="centralSection">
        <form action="/library/upload" class="newBook" enctype="multipart/form-data" method="post">

                <div class="TextDetails">
                    <input type="text" name="title" placeholder="titulo">
                    <textarea name="preface" id="preface" placeholder="Digite o préfacio da obra aqui" cols="65" rows="25"></textarea>
                </div>
                <div class="imageDetails">
                    <h1>Adicione a capa do livro </h1>
                    <label for="upadteImage" class="fileUpdate">adicionar imagem:</label>
                    <input type="file" name="imageFile" id="upadteImage" accept="image/*"  required >
                </div>
                <div class="opinioInText"> 
                    <h1>Escreva sua opnião do livro</h1>
                    <textarea name="opinion" id="" placeholder="análise do livro" cols="65" rows="25"></textarea>
                </div>
                <div class="opinionInGrade">
                    <h2>nota</h2>
                    <img class="gradeStarsImage" src="/assets/images/stars/starGrade0.png" alt="">
                    <select name="grade" id="grade">
                        <option class="optionGrade" id="escolherNota" value="0" selected disabled>escolha uma nota</option>
                        <option class="optionGrade" value="1" >muito ruim</option>
                        <option class="optionGrade" value="2">ruim</option>
                        <option class="optionGrade" value="3">médio</option>
                        <option class="optionGrade" value="4">bom</option>
                        <option class="optionGrade" value="5">muito bom </option>
                    </select>

                </div>
            <div class="buttonSubmit">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </section>
    <footer>
        <%- include("../views/components/footer.ejs") -%>
    </footer>
    <script src="/script/newBookGradeImgControl.js"></script>
    <script src="/script/inputFile.js"></script>
</body>
</html>